.close_button {
	/* position: relative ; */
	display:flex;
	padding-top: 40px;
	padding-right: 50px;
	cursor: pointer;
}

.modal_content {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 1000;
	display: flex;
	flex-direction:column;
	align-items: center;
	width: 700px;
	height: 540px;
	color: #FFFFFF;
	background-color: rgb(28 28 33);
	border-radius: 12px;
	transform: translate(-50%, -50%);
}

.modal_content_caption {
	display: flex;
	flex-direction:row;
	justify-content: space-between;

	/* border: 4px double blue; */
	width: 100%;
	margin: 10px;
}

.modal_content_caption span {
	position: relative;
	float: left;
	padding-top: 40px;
	padding-left: 40px;
}

.order_details {
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-items: center;
}
